# Virtual Environment
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Database (optional)
data_siswa.db

# Editor / OS Files
.DS_Store
Thumbs.db

# Jupyter / IPython (if any)
.ipynb_checkpoints/

# VS Code settings (opsional)
.vscode/